<div class="col-12 mb-2 bg-dark text-light p-3">
    <h3 class="portfolio-item-title text-light">Login</h3>
    <form class="login-form">
        <div>
            <label for="username-login">Username:</label>
            <br>
            <input class="portfolio-languages text-dark" type="text" id="username-login"/>
        </div>
        <div>
            <label for="password-login">Password:</label>
            <br>
            <input class="portfolio-languages text-dark" type="text" id="password-login"/>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <h3 class="portfolio-item-title text-light">Sign-Up</h3>
    <form class="signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <br>
            <input class="portfolio-languages text-dark" type="text" id="username-signup"/>
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <br>
            <input class="portfolio-languages text-dark" type="text" id="password-signup"/>
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>